

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-shadow: 1px 1px 0 #000, 
   0 0 #000, 
  1px -1px 0 #000,
  0 0;
}

.heading-primary-main {
  display: block;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  /* animation-delay: 3s; */
  /* animation-iteration-count: 3; */
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  

}

.heading-primary-sub {
  font-family: 'Liu Jian Mao Cao', cursive;

  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .5rem;
  -webkit-animation: moveInRight 1s ease-in-out;
  animation: moveInRight 1s ease-in-out;
}

.header {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(196, 189, 99, 0.8)), to(rgba(180, 166, 40, 0.8))), url(../img/hero2.jpg);
  background-image: linear-gradient(to right bottom, rgba(196, 189, 99, 0.8), rgba(180, 166, 40, 0.8)), url(../img/hero2.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header .logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header .logo {
  height: 7rem;
}

.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4.5rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.3rem;
  align-self: center;
  color: black;
  font-weight: 600;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;

}





@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}



@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}



@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@media screen and (max-width: 600px) {

  .btn:link, .btn:visited{
    padding: 2.5rem 5rem;
  }
}
